<form [formGroup]="form" (ngSubmit)="guardar($event)" *ngIf="!cargando">
  <div class="row marginBottom10">
    <div class="col-sm-9">
      <blockquote>Introduzca datos del inmueble</blockquote>
    </div>
    <div class="col-sm-3 text-right">
      <button class="btn btn-primary btn-block" pTooltip="Guardar cambios" tooltipPosition="top" *ngIf="save.pending && !save.success" [disabled]="form.invalid || save.disabled" type="submit">
        <i class="fa fa-fw fa-2x fa-save"></i>
      </button>
      <button class="btn btn-success btn-block" title="Cambios guardados exitosamente" *ngIf="save.success" type="button">
        <i class="fa fa-fw fa-2x fa-check"></i>
      </button>
      <button class="btn btn-warning btn-block active" title="Guardando..." *ngIf="save.working && !save.success" type="button">
        <!--type="button" -->
        <i class="fa fa-fw fa-spinner fa-2x fa-pulse"></i>
      </button>
    </div>
  </div>

  <div class="alert alert-warning margin-t20" *ngIf="cargando">
    <i class="fa fa-fw fa-spin fa-spinner"></i> Cargando información...
  </div>

  <p-tabView>
    <p-tabPanel header="Información" leftIcon="fa fa-fw fa-pencil">
      <div class="form-horizontal" formGroupName="informacion">
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.encabezado.invalid}">
          <label for="encabezado" class="col-sm-2 control-label">Encabezado</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="encabezado" formControlName="encabezado" [(ngModel)]="inmueble.encabezado" />
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.precio.invalid}">
          <label for="precio" class="col-sm-2 control-label">Precio</label>
          <div class="col-sm-6">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="number" class="form-control" pattern="[0-9]+(\.[0-9][0-9]?)?" id="precio" formControlName="precio" [(ngModel)]="inmueble.precio" />
              <div class="input-group-addon">.00</div>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.servicio.invalid}">
          <label for="servicio" class="col-sm-2 control-label">Tipo de servicio</label>
          <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" id="servicio" value="Renta" formControlName="servicio" [(ngModel)]="inmueble.servicio"> Renta
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" value="Venta" formControlName="servicio" [(ngModel)]="inmueble.servicio"> Venta
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.tipo.invalid}">
          <label for="tipo" class="col-sm-2 control-label">Tipo de inmueble</label>
          <div class="col-sm-6">
            <select name="tipo" class="form-control" formControlName="tipo" [(ngModel)]="inmueble.tipo">
              <option *ngFor="let tipo of catalogos.tipos" [value]="tipo.value">{{tipo.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.metros.invalid}">
          <label for="metros" class="col-sm-2 control-label">M2 de la propiedad</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="metros" formControlName="metros" [(ngModel)]="inmueble.metros" />
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.habitaciones.invalid}">
          <label for="habitaciones" class="col-sm-2 control-label">Habitaciones</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="habitaciones" formControlName="habitaciones" [(ngModel)]="inmueble.habitaciones" />
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.banos.invalid}">
          <label for="banos" class="col-sm-2 control-label">Baños</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="banos" formControlName="banos" [(ngModel)]="inmueble.banos" />
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.resumen.invalid}">
          <label for="resumen" class="col-sm-2 control-label">Pequeña descripción</label>
          <div class="col-sm-6">
            <textarea name="resumen" class="form-control" formControlName="resumen" id="resumen" rows="3" [(ngModel)]="inmueble.resumen"></textarea>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Descripción" leftIcon="fa fa-fw fa-file-text-o">
      <div class="form-horizontal" formGroupName="descripcion">
        <div class="row">
          <div class="col-sm-12">
            <p-editor formControlName="descripcion" [(ngModel)]="inmueble.descripcion" [style]="{'height':'320px'}" (onTextChange)="updateButtons()"></p-editor>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Ubicación" leftIcon="fa fa-fw fa-map-marker">
      <div class="form-horizontal" formGroupName="ubicacion">
        <div class="form-group">
          <label for="direccion" class="col-sm-2 control-label">Dirección</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="direccion" formControlName="direccion" [(ngModel)]="inmueble.direccion" />
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.ubicacion.controls.ubicacion.invalid}">
          <label for="ubicacion" class="col-sm-2 control-label">Ubicación</label>
          <div class="col-sm-6">
            <select name="ubicacion" class="form-control" formControlName="ubicacion" [(ngModel)]="inmueble.ubicacion">
              <option *ngFor="let ubicacion of catalogos.ubicaciones" [value]="ubicacion.value">{{ubicacion.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <hr />
      <div>
        <h3>Elige la ubicación exacta en el mapa</h3>
        <p-gmap [options]="mapOptions" [overlays]="mapMarcador" (onMapClick)="ponerCoordenadas($event)" [style]="{'width':'100%','height':'400px'}"></p-gmap>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Imágenes" leftIcon="fa fa-fw fa-picture-o" *ngIf="inmueble.id">
      <div class="ui-g">
        <div class="ui-g-6 col-imagenes">
          <h3>Paso 1: Agrega fotos</h3>
          <div class="text-muted sub-label">Imágenes JPG son aceptadas</div>
          <p-fileUpload name="fotos[]" url="{{servidor}}" multiple="multiple" accept="image/jpeg" invalidFileTypeMessageSummary="{0}: Tipo de archivo no válido" invalidFileTypeMessageDetail="Tipos de archivos válidos: {0}" chooseLabel="Elegir" uploadLabel="Subir" cancelLabel="Cancelar" (onUpload)="imagenesSubidas($event)" (onBeforeUpload)="imagenesSubir()"
            (onError)="imagenesError($event)">
          </p-fileUpload>
        </div>
        <div class="ui-g-6 col-imagenes" *ngIf="inmueble.fotos.length > 0">
          <h3>Paso 2: Ordena las fotos que hayas subido</h3>
          <div class="text-muted sub-label">Presiona e botón de guardar cada vez que ordenes</div>
          <div class="orderListContainer">
            <p-orderList [value]="inmueble.fotos" [responsive]="true" dragdrop="true">
              <ng-template let-imagen pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div class="foto-info">
                    <button pButton type="button" (click)="eliminarFoto(imagen)" label="Eliminar" icon="fa-trash"></button>
                  </div>
                  <div class="foto-img">
                    <img src="{{imagen}}">
                  </div>
                </div>
              </ng-template>
            </p-orderList>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</form>
