h4 {
  margin-top: 0;
}

.ui-tabview .ui-tabview-panel {
  border-width: 0;
  padding: 1em 0;
  background: 0;
}

p-dropdown .ui-dropdown {
  width: 200px !important;
}

.ui-orderlist.ui-orderlist-responsive .ui-orderlist-list-container {
  width: 100%;
}

.ui-orderlist-controls {
  border-top: 1px solid #D5D5D5;
  border-left: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  background: linear-gradient(to right, #f6f7f9 0%, #ebedf0 100%);
}

.ui-orderlist .ui-orderlist-controls .ui-button {
  display: block;
  margin: 1em 0;
  padding: 5px;
  font-size: 1.5em;
}

.orderListContainer {
  font-size: 12px;
}

.orderListContainer .ui-orderlist.ui-widget {
  width: 100%;
}

.orderListContainer .ui-orderlist .ui-orderlist-list {
  width: 100%;
  height: 321px;
}

.ui-orderlist .ui-orderlist-list .ui-orderlist-item {
  padding: 6px 4px;
}

.orderListContainer .foto-img {
  width: 180px;
  text-align: center;
}

.orderListContainer img {
  display: inline-block;
  box-shadow: 3px 3px 7px #6d6565;
  max-height: 90px;
}

.orderListContainer .foto-info {
  text-align: center;
  float: right;
  width: 100px;
}

.orderListContainer .foto-info div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}

.ui-fileupload-content.ui-widget-content {
  overflow: auto;
  height: 280px;
}

.ui-fileupload-row>div:nth-child(2) {
  min-width: 280px;
}

.col-imagenes h3 {
  margin: 0;
}

.col-imagenes .sub-label {
  margin-bottom: 10px;
}
