<div class="row marginBottom10">
  <div class="col-sm-9">
    <blockquote>Introduzca datos del inmueble</blockquote>
  </div>
  <div class="col-sm-3 text-right">
    <button class="btn btn-primary btn-block" pTooltip="Guardar cambios" tooltipPosition="top" (click)="guardar()" *ngIf="save.pending"
      [disabled]="form.invalid">
      <i class="fa fa-fw fa-2x fa-save"></i>
    </button>
    <button class="btn btn-success btn-block" title="Cambios guardados exitosamente" *ngIf="save.success">
      <i class="fa fa-fw fa-2x fa-check"></i>
    </button>
    <button class="btn btn-warning btn-block active" title="Guardando..." *ngIf="save.working">
      <i class="fa fa-fw fa-spinner fa-2x fa-pulse"></i>
    </button>
  </div>
</div>

<!-- <pre>{{form.valid}}</pre>
<pre>servicio {{form.controls.informacion.controls.servicio.invalid}}</pre>
<pre>{{inmueble | json}}</pre> -->

<form [formGroup]="form" (ngSubmit)="guardar($event)">
  <p-tabView>
    <p-tabPanel header="Información" leftIcon="fa fa-fw fa-pencil">
      <div class="form-horizontal" formGroupName="informacion">
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.encabezado.invalid}">
          <label for="encabezado" class="col-sm-2 control-label">Encabezado</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="encabezado" formControlName="encabezado" [(ngModel)]="inmueble.encabezado" />
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.precio.invalid}">
          <label for="precio" class="col-sm-2 control-label">Precio</label>
          <div class="col-sm-6">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="number" class="form-control" pattern="[0-9]+(\.[0-9][0-9]?)?" id="precio" formControlName="precio" [(ngModel)]="inmueble.precio"
              />
              <div class="input-group-addon">.00</div>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.servicio.invalid}">
          <label for="servicio" class="col-sm-2 control-label">Tipo de servicio</label>
          <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" id="servicio" value="Renta" formControlName="servicio" [(ngModel)]="inmueble.servicio"> Renta
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" value="Venta" formControlName="servicio" [(ngModel)]="inmueble.servicio"> Venta
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.tipo.invalid}">
          <label for="tipo" class="col-sm-2 control-label">Tipo de inmueble</label>
          <div class="col-sm-6">
            <select name="tipo" class="form-control" formControlName="tipo" [(ngModel)]="inmueble.tipo">
              <option *ngFor="let tipo of tipos" [value]="tipo.value">{{tipo.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': form.controls.informacion.controls.resumen.invalid}">
          <label for="resumen" class="col-sm-2 control-label">Pequeña descripción</label>
          <div class="col-sm-6">
            <textarea name="resumen" class="form-control" formControlName="resumen" id="resumen" rows="3" [(ngModel)]="inmueble.resumen"></textarea>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Descripción" leftIcon="fa fa-fw fa-file-text-o">
      <!-- <p-editor [(ngModel)]="descripcion" [style]="{'height':'280px'}"></p-editor> -->
    </p-tabPanel>
    <p-tabPanel header="Ubicación" leftIcon="fa fa-fw fa-map-marker">
      <div class="form-horizontal" formGroupName="ubicacion">
        <div class="form-group">
          <label for="direccion" class="col-sm-2 control-label">Dirección</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="direccion" formControlName="direccion" [(ngModel)]="inmueble.direccion" />
          </div>
        </div>


        <!--
        <div class="form-horizontal" formGroupName="ubicacion">
          <div class="form-group">
            <label for="direccion" class="col-sm-2 control-label">Dirección</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="direccion" name="direccion" />
            </div>
          </div>
        </div>-->
      </div>
      Mapa
    </p-tabPanel>
    <p-tabPanel header="Imágenes" leftIcon="fa fa-fw fa-picture-o">
      <div class="row">
        <div class="col-md-8">
          <h4 class="text-primary">Agrega fotos</h4>
          <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"></p-fileUpload>
        </div>
        <div class="col-md-4">
          <h4 class="text-primary">Ordena las fotos</h4>
          <div class="orderListContainer">
            <p-orderList [value]="imagenes" dragdrop="true" dragdropScope="imagenes">
              <ng-template let-imagen pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div class="foto-info">
                    <div>{{imagen}}</div>
                    <button pButton type="button" (click)="onclick()" label="Eliminar" icon="fa-trash"></button>
                  </div>
                  <img src="assets/fotos/{{imagen}}">
                </div>
              </ng-template>
            </p-orderList>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</form>