<div class="row marginBottom10">
  <div class="col-sm-9">
    <blockquote>Gestiona los registros del portal</blockquote>
  </div>
  <div class="col-sm-3 text-right">
    <a class="btn btn-primary btn-block btn-big" routerLink="/inmuebles_form">
      <i class="fa fa-fw fa-plus"></i> Agregar registro
    </a>
  </div>
</div>

<div class="alert alert-warning margin-t20" *ngIf="cargando">
  <i class="fa fa-fw fa-spin fa-spinner"></i> Cargando información...
</div>

<div class="ui-widget-header buscador" *ngIf="!cargando">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="20">
</div>

<p-dataTable [value]="inmuebles" [rows]="15" [paginator]="true" [emptyMessage]="'No hay nada'" [globalFilter]="gb" #dt *ngIf="!cargando">
  <p-column field="id" header="Folio" [sortable]="true" class="w50"></p-column>
  <p-column field="encabezado" header="Encabezado" [sortable]="true"></p-column>
  <p-column field="ubicacion" header="Ubicación" [sortable]="true"></p-column>
  <p-column field="fotos_count" header="Imágenes" [sortable]="true"></p-column>
  <p-column field="fecha_registro" header="Fecha de registro" [sortable]="true"></p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Acciones
    </ng-template>
    <ng-template let-inmueble="rowData" pTemplate="body">
      <div class="text-center">
        <button type="button" pButton icon="fa-pencil-square-o" routerLink="/inmuebles_form/{{inmueble.id}}"></button>
        <button type="button" pButton icon="fa-trash-o" class="ui-button-danger" (click)="eliminar(inmueble)"></button>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="margin-b20"></div>
