<div class="row marginBottom10">
  <div class="col-sm-9">
    <blockquote>Gestiona los registros del portal</blockquote>
  </div>
  <div class="col-sm-3 text-right">
    <a class="btn btn-primary btn-block btn-big" routerLink="/inmuebles_form">
      <i class="fa fa-fw fa-plus"></i> Agregar registro
    </a>
  </div>
</div>

<div class="alert alert-warning margin-t20" *ngIf="cargando">
  <i class="fa fa-fw fa-spin fa-spinner"></i> Cargando información...
</div>

<div class="ui-widget-header buscador" [hidden]="cargando">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="30">
</div>

<p-dataTable [value]="inmuebles" [rows]="15" [paginator]="true" [emptyMessage]="'No hay nada'" [globalFilter]="gb" [hidden]="cargando">
  <p-column field="id" header="Folio" [sortable]="true" styleClass="folio"></p-column>
  <p-column field="encabezado" header="Encabezado" [sortable]="true" styleClass="encabezado"></p-column>
  <p-column field="tipo" header="Tipo" [sortable]="true" styleClass="tipo"></p-column>
  <p-column field="precio" header="Precio" [filter]="false" [sortable]="true" styleClass="precio text-right"></p-column>
  <p-column field="ubicacion" header="Ubicación" [filter]="false" [sortable]="true" styleClass="ubicacion"></p-column>
  <p-column field="habitaciones" header="Habitaciones" [filter]="false" [sortable]="true" styleClass="habitaciones"></p-column>
  <p-column field="fotos_count" header="Fotos" [filter]="false" [sortable]="true" styleClass="fotos"></p-column>
  <p-column field="fecha_registro" header="Fecha de registro" [filter]="false" [sortable]="true" styleClass="fecha"></p-column>
  <p-column header="Acciones" styleClass="acciones text-center">
    <ng-template let-inmueble="rowData" pTemplate="body">
      <button type="button" pButton icon="fa-pencil-square-o" routerLink="/inmuebles_form/{{inmueble.id}}" title="Editar"></button>
      <button type="button" pButton icon="fa-trash-o" class="ui-button-danger" (click)="eliminar(inmueble)" title="Eliminar"></button>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="margin-b20"></div>

<p-confirmDialog header="Eliminación de registro" acceptLabel="Eliminar" rejectLabel="Cancelar" icon="fa fa-question-circle" width="425" #cd> </p-confirmDialog>
