<div class="container main-container">
  <div class="alert alert-warning" *ngIf="verificandoSesion">
    <i class="fa fa-spinner fa-pulse fa-fw"></i> Verificando sesión...
  </div>

  <nav class="navbar navbar-default" *ngIf="sesionInicializada">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/inmuebles">Onza Inmobiliaria</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <p class="navbar-text navbar-right">
          <a (click)="logout()">
            <i class="fa fa-fw fa-lock"></i> Cerrar sesión
          </a>
        </p>
        <ul class="nav navbar-nav">
          <li [class.active]="seccion.active" *ngFor="let seccion of secciones">
            <a routerLink="/{{seccion.nombre}}">
              <i class="fa fa-fw {{seccion.icono}}"></i>
              {{seccion.titulo}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div *ngIf="sesionInicializada">
    <h2 *ngIf="seccionActual">{{seccionActual.titulo}}</h2>
    <router-outlet></router-outlet>
  </div>

  <app-login *ngIf="!sesionInicializada && !verificandoSesion"></app-login>
</div>
