<div class="container-fluid main-container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Onza Inmobiliaria</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li [class.active]="activePage === 'inmuebles'"><a routerLink="/inmuebles"><i class="fa fa-fw fa-home"></i> Inmuebles</a></li>
          <li [class.active]="activePage === 'acercade'"><a routerLink="/acercade"><i class="fa fa-fw fa-building"></i> Acerca de nosotros</a></li>
          <li [class.active]="activePage === 'contacto'"><a routerLink="/contacto"><i class="fa fa-fw fa-phone"></i> Contacto</a></li>
          <li [class.active]="activePage === 'accesos'"><a routerLink="/accesos"><i class="fa fa-fw fa-user"></i> Claves de acceso</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
